<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true" verbose="true"
         bootstrap="./tests/bootstrap.php"
         cacheResult="false">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuite name="tests">
    <directory>./tests</directory>
  </testsuite>
</phpunit>
