name: "Continuous Integration"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '[0-9]+.[0-9]+.x'
      - 'master'
  schedule:
    - cron: "45 9 * * 1"

jobs:
  codestyle:
    name: "Code Style"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "8.1"

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: "Run PHP-CS-Fixer"
        run: "vendor/bin/php-cs-fixer fix --ansi --verbose --dry-run"

  psalm:
    name: "Static Analysis"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "8.2"

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: "Run psalm"
        run: "vendor/bin/psalm --long-progress --output-format=github --report=psalm.sarif --php-version=${{ matrix.php-version }}"

      - name: "Upload SARIF file"
        uses: github/codeql-action/upload-sarif@v4
        continue-on-error: true
        with:
          sarif_file: psalm.sarif

  phpunit:
    name: "PHPUnit"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        deps:
          - "highest"
        codestyle:
          - "false"
        include:
          - php-version: "8.4"
            deps: "locked"
            codestyle: "true"
          - php-version: "8.1"
            deps: "lowest"
            codestyle: "false"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"
          ini-values: "zend.assertions=1"
          extensions: "bcmath, gmp"

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.deps }}"
          composer-options: '--ignore-platform-req=php+'

      - name: "Run PHPCS check"
        run: "composer cs-check"
        if: "${{ matrix.codestyle == 'true' }}"

      - name: "Run PHPUnit with coverage"
        run: "vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover=coverage-report.xml"

      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          files: coverage-report.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
